<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
		<h1>pagina About </h1>
        <p>texto de introduccion </p>
        <a href="/">pagina inicio</a>
        <a href="/blog/">Blog</a>
        <main>
            <section>
                <h2>Titulo de la seccion</h2>
                <p>texto de la seccion</p>
            </section>
        </main>
	</body>
</html>
