---
import Navegation from "./Navegation.astro";
import Hamburgesa from "./Hamburgesa.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <nav>
        <Hamburgesa/>
        <ThemeIcon></ThemeIcon>
        <Navegation/>
    </nav>
</header>